* {
    box-sizing: border-box;
  }
  
  .grid-wrapper {
    width: calc(100% - 100px);
    padding-left: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 100px;
    grid-auto-flow: dense;
    gap: 16px;
    border-radius: 15px;
  }
  
  .grid-wrapper div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .grid-wrapper div video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  
  .tall {
    grid-row: span 3;
    grid-column: span 1;
  }
  
  .wide {
    grid-column: span 2;
  }
  
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
  @media screen and (max-width: 740px){
    .grid-wrapper{
      width: 100%;
    padding: 0;

    }
    
  }